# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log

# Uploads (user files / images)
uploads/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build folders (if used later)
dist/
build/